# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
.idea/workspace.xml
*.xml
.idea/workspace.xml
node_modules/@angular/animations/animations.d.ts
*.ts
.idea/workspace.xml
node_modules/@angular/animations/animations.d.ts
node_modules/@angular/animations/browser/browser.d.ts
node_modules/@angular/animations/browser/package.json
node_modules/@angular/animations/package.json
node_modules/@angular/cdk/a11y/a11y-module.d.ts
node_modules/@angular/cdk/a11y/aria-describer/aria-describer.d.ts
node_modules/@angular/cdk/a11y/focus-monitor/focus-monitor.d.ts
node_modules/@angular/cdk/a11y/focus-trap/configurable-focus-trap-factory.d.ts
node_modules/@angular/cdk/a11y/focus-trap/focus-trap-manager.d.ts
node_modules/@angular/cdk/a11y/focus-trap/focus-trap.d.ts
node_modules/@angular/cdk/a11y/high-contrast-mode/high-contrast-mode-detector.d.ts
node_modules/@angular/cdk/a11y/index.d.ts
node_modules/@angular/cdk/a11y/interactivity-checker/interactivity-checker.d.ts
node_modules/@angular/cdk/a11y/live-announcer/live-announcer.d.ts
node_modules/@angular/cdk/a11y/package.json
node_modules/@angular/cdk/bidi/bidi-module.d.ts
node_modules/@angular/cdk/bidi/dir.d.ts
node_modules/@angular/cdk/bidi/directionality.d.ts
node_modules/@angular/cdk/bidi/index.d.ts
node_modules/@angular/cdk/bidi/package.json
node_modules/@angular/cdk/keycodes/index.d.ts
node_modules/@angular/cdk/keycodes/package.json
node_modules/@angular/cdk/observers/index.d.ts
node_modules/@angular/cdk/observers/observe-content.d.ts
node_modules/@angular/cdk/observers/package.json
node_modules/@angular/cdk/platform/index.d.ts
node_modules/@angular/cdk/platform/package.json
node_modules/@angular/cdk/platform/platform-module.d.ts
node_modules/@angular/cdk/platform/platform.d.ts
node_modules/@angular/common/common.d.ts
node_modules/@angular/common/package.json
node_modules/@angular/core/core.d.ts
node_modules/@angular/core/package.json
node_modules/@angular/forms/forms.d.ts
node_modules/@angular/forms/package.json
node_modules/@angular/material/button/button-module.d.ts
node_modules/@angular/material/button/button.d.ts
node_modules/@angular/material/button/index.d.ts
node_modules/@angular/material/button/package.json
node_modules/@angular/material/core/common-behaviors/common-module.d.ts
node_modules/@angular/material/core/datetime/index.d.ts
node_modules/@angular/material/core/datetime/native-date-adapter.d.ts
node_modules/@angular/material/core/error/error-options.d.ts
node_modules/@angular/material/core/index.d.ts
node_modules/@angular/material/core/line/line.d.ts
node_modules/@angular/material/core/option/index.d.ts
node_modules/@angular/material/core/option/optgroup.d.ts
node_modules/@angular/material/core/option/option.d.ts
node_modules/@angular/material/core/package.json
node_modules/@angular/material/core/ripple/index.d.ts
node_modules/@angular/material/core/ripple/ripple.d.ts
node_modules/@angular/material/core/selection/index.d.ts
node_modules/@angular/material/core/selection/pseudo-checkbox/pseudo-checkbox.d.ts
node_modules/@angular/platform-browser-dynamic/package.json
node_modules/@angular/platform-browser-dynamic/platform-browser-dynamic.d.ts
node_modules/@angular/platform-browser/animations/animations.d.ts
node_modules/@angular/platform-browser/animations/package.json
node_modules/@angular/platform-browser/package.json
node_modules/@angular/platform-browser/platform-browser.d.ts
node_modules/@angular/router/package.json
node_modules/@angular/router/router.d.ts
.idea/workspace.xml
