<mat-card class="application-head">
  <button mat-button class="editor-option" (click)="exportGraph()">Export</button>
  <button mat-button class="editor-option" (click)= "hiddenfileinput.click()"> Import </button>
  <input type="file" id=fileToImport class="file-upload" (change)="importGraph($event.target.files)" #hiddenfileinput>
</mat-card>

<mat-card class="application-body">
  <!-- Holds primary tools of the application -->
  <mat-card #toolbar class="toolbar">
    <div>
      <a class="icon" (click)="addNodeInNetwork()" [ngStyle]="{'background-color': isAddingNodes ? '#00ccff' : '#ffffff'}">
        <img class="icon-link" src="assets/icons/addnodeicon.png">
      </a>
    </div>

    <hr>
    <div>
      <a class="icon" (click)="addEdgeInNetwork()" [ngStyle]="{'background-color': isAddingEdges ? '#00ccff' : '#ffffff'}">
        <img class="icon-link" src="assets/icons/addedgeicon.png">
      </a>
    </div>

    <hr>
    <div>
      <a class="icon" (click)="deleteNodeOrEdgeInNetwork()" >
        <img class="icon-link" src="assets/icons/deleteselectionicon.png">
      </a>
    </div>
    <hr>

  </mat-card>

  <!-- Container of Network canvas -->
  <mat-card class="canvas" id=networkContainer>
      <div #graph class="graph"></div>
  </mat-card>

  <!-- Detailed options for a tool -->
  <mat-card #toolbar_options class="toolbar-options">
    <!-- Text Area for Node Label -->
    <p class="label">Label</p>
    <textarea [(ngModel)]="nodeEdgeLabel"></textarea>
    <br>
    <!-- Alternate change Node name mode -->
    <button mat-button (click)="changeNodeName(); changeEdgeName()"
        [ngStyle]="{'background-color': isChangeNodeLabel || isChangeEdgeLabel ? '#00ccff' : '#ffffff' }">Change Name</button>
    <hr>
    <div>
      <mat-form-field>
        <p class="label">color</p>
        <input matInput type="color" [(ngModel)]="nodeEdgeColor">
      </mat-form-field>
      <br>
      <button mat-button class="editor-option" (click)="changeNodeColor(); changeEdgeColor()"
              [ngStyle]="{'background-color': isChangeNodeColor || isChangeEdgeColor ? '#00ccff' : '#ffffff' }">Change color</button>
    </div>
  </mat-card>
</mat-card>
