<mat-card class="application-head">
  <button mat-button class="buttonsToolbarAbove" (click)="exportGraph()">Export</button>
  <button mat-button class="buttonsToolbarAbove" (click)= "hiddenfileinput.click()"> Import </button>
  <button mat-button class="buttonsToolbarAbove" (click)= "undo()"> Undo </button>
  <button mat-button class="buttonsToolbarAbove" (click)= "redo()"> Redo </button>
  <button mat-button class="buttonsToolbarAbove" (click)="__debug__()" *ngIf="isDebugging"> Debug </button>

  <input type="file" id=fileToImport class="file-upload" (change)="importGraph($event.target.files)" #hiddenfileinput>
</mat-card>

<mat-card class="application-body">
  <!-- Holds primary tools of the application -->
  <mat-card #toolbar class="toolbar">
    <div>
      <a #addNodeButton (click)="addNodeInNetwork()" [class.active]="isAddingNode()" class="tool">
        <img class="icon-link" src="assets/icons/addnodeicon.png">
      </a>
    </div>

    <hr>
    <div>
      <a #addEdgeButton (click)="addEdgeInNetwork()" [class.active]="isAddingEdge()" class="tool">
        <img class="icon-link" src="assets/icons/addedgeicon.png">
      </a>
    </div>

    <hr>
    <div>
      <a #deleteSelectionButton (click)="deleteNodeOrEdgeInNetwork()" class="tool">
        <img class="icon-link" src="assets/icons/deleteselectionicon.png">
      </a>
    </div>
    <hr>

  </mat-card>

  <!-- Container of Network canvas -->
  <mat-card class="canvas" id=networkContainer>
      <div #graph class="graph"></div>
  </mat-card>

  <!-- Detailed options for a tool -->
  <mat-card #toolbar_options class="toolbar-options">
    <!-- Text Area for Node Label -->
    <p class="option-label">Label</p>
    <textarea class = "option-textArea" [(ngModel)]="nodeEdgeLabel"></textarea>
    <br>
    <!-- Alternate change Node name mode -->
    <button mat-button 
      class = "option-button"
      [class.active] = "isChangingNodeLabel()" 
      (click)="changeNodeName(); changeEdgeName()">Change Name</button>
    <hr>
    <div>
      <!-- Implements te color toolbar and button to change node/edge colors -->
        <p class="option-label">color</p>
        <input matInput class = "option-colorInput" type="color" [(ngModel)]="nodeEdgeColor">
      <br>
      <button mat-button 
        class="option-button" 
        [class.active] = "isChangingColor()"
        (click)="changeNodeColor(); changeEdgeColor()">Change color</button>
      <hr>
    </div>
  </mat-card>
</mat-card>

<relabel-pop-up *ngIf="isRelabelPopUpVisible()" 
  [info]='relabelPopUpInfo'
  [(label)]="nodeEdgeLabel"></relabel-pop-up>

<relabel-pop-up *ngIf="isShowingEdgeRelabelPopUp" 
  [info]='edgeRelabelPopUpInfo'
  [(label)]="nodeEdgeLabel"></relabel-pop-up>

  <nodeHoverOption *ngIf="isAddNodeOptionVisible()"
    [info]='addChildNodeInfo'
    (onOptionClicked)='addChildNodeToHoveredNode()'
  ></nodeHoverOption>