
<!-- holds the basic functionalities taskbar above -->
<mat-card class="editor">
    <button mat-button class="editor-option" (click)="addNodeInNetwork()"
            [ngStyle]="{'background-color': isAddingNodes ? '#00ccff' : '#ffffff' }">Add Nodes</button>
    <button mat-button class="editor-option" (click)="addEdgeInNetwork()"
            [ngStyle]="{'background-color': isAddingEdges ? '#00ccff' : '#ffffff' }">Add Edge</button>
    <button mat-button class="editor-option" (click)="deleteNodeOrEdgeInNetwork()">Delete Selection</button>
    <button mat-button class="editor-option" (click)="exportGraph()">Export</button>

<!-- Defines the edit nodeLabel functionality -->
    <mat-form-field>
      <mat-label>Node Label</mat-label>
      <input matInput type="text" [(ngModel)]="nodeLabel">
      <button mat-button class="editor-option" *ngIf="nodeLabel" matSuffix aria-label="Clear" (click)="nodeLabel=''">
        <mat-button>Clear</mat-button></button>
    </mat-form-field>
  <button mat-button class="editor-option" *ngIf="nodeLabel" (click)="changeNodeName()"
          [ngStyle]="{'background-color': isChangeNodeLabel ? '#00ccff' : '#ffffff' }">Change Name</button>
</mat-card>

<!-- Initializes the network and interaction area -->
<mat-card class="canvas">
    <div #graph class="graph"></div>
</mat-card>






