<mat-card class="editor">
    <button mat-button class="editor-option" (click)="addNode()"
            [ngStyle]="{'background-color': addingNodes ? '#00cuff' : '#ffffff' }">Add Nodes</button>
    <button mat-button class="editor-option" (click)="addEdge()"
            [ngStyle]="{'background-color': addingEdges ? '#00cuff' : '#ffffff' }">Add Edge</button>
    <button mat-button class="editor-option" (click)="deleteNodeOrEdge()"
            [ngStyle]="{'background-color': deletingNodesOrEdges ? '#00cuff' : '#ffffff' }">Delete Selection</button>
    <button mat-button class="editor-option" (click)="changeVisibilityOfOptions()"
    [ngStyle]="{'background-color': showOptions ? '#00cuff' : '#ffffff' }">Show Options</button>
    <button mat-button class="editor-option" (click)="editSelectedNode()">Edit Node</button>
</mat-card>

<mat-card class="canvas">
    <div #graph class="graph"></div>
</mat-card>
<div id="config"></div>
<p id="selection"></p>

<!--
<div #nodeOptions class="node-options-container">
  <div *ngIf="showNodeOptions" class="node-options">
    <button mat-button class="option" (click)="editSelectedNode()">Edit</button>
    <button mat-button class="option" (click)="unselectSelectedNodes()">Unselect</button>
  </div>
</div>
-->

<div id="node-popUp">
  <span id="node-operation">Node</span>
  <table style="margin: auto">
    <tbody>
    <tr>
      <td>label</td>
      <td><label for="node-label"></label><input id="node-label" value="new value" /></td>
    </tr>
    </tbody>
  </table>
  <input type="button" value="save" id="node-saveButton" />
  <input type="button" value="cancel" id="node-cancelButton" />
  <br>
  <button mat-button class="option" (click)="editNode()">Width</button>
  <button mat-button class="option" (click)="editNode()">Height</button>
  <button mat-button class="option" (click)="editNode()">Color</button>
</div>

<div id="edge-popUp">
    <span id="edge-operation">edge</span>
    <table style="margin: auto">
      <tbody>
        <tr>
          <td>label</td>
          <td><label for="edge-label"></label><input id="edge-label" value="new value" /></td>
        </tr>
      </tbody>
    </table>
    <input type="button" value="save" id="edge-saveButton" />
    <input type="button" value="cancel" id="edge-cancelButton" />
    <br>
    <button mat-button class="option" (click)="moveEdge()">Move</button>
    <button mat-button class="option" (click)="moveEdge()">Width</button>
    <button mat-button class="option" (click)="moveEdge()">Color</button>
    <button mat-button class="option" (click)="moveEdge()">Direction</button>
  </div>



