<mat-card class="editor">
    <button mat-button class="editor-option" (click)="addNode()"
            [ngStyle]="{'background-color': addingNodes ? '#00ccff' : '#ffffff' }">Add Nodes</button>
    <button mat-button class="editor-option" (click)="addEdge()"
            [ngStyle]="{'background-color': addingEdges ? '#00ccff' : '#ffffff' }">Add Edge</button>
    <button mat-button class="editor-option" (click)="deleteNodeOrEdge()">Delete Selection</button>
</mat-card>

<mat-card class="canvas">
    <div #graph class="graph"></div>
</mat-card>


<div #nodeOptions class="node-options-container">
    <div *ngIf="showNodeOptions" class="node-options">
        <button mat-button class="option" (click)="deleteNodeOrEdge()">Delete</button>
    </div>
</div>




