.popUp {
    position: absolute;
    background-color: rgb(61, 226, 204);
    padding: 0px;
    margin: 0px;
}

.relabel-text-area {
    resize: none;
    position: absolute;
    overflow:hidden;
    background-color: rgba(255, 255, 255, 0);
    padding: 0px;
    margin: 0px;
}
